/* External CSS Page for home.html */

body {
	background-image: url('resources/images/background-hexagons.jpg'); 
}

/* Navigator bar */
#nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	text-align:center;
	border-right: 5px solid black;
	border-left: 5px solid black;
	border-bottom: 5px solid black;
}

#nav-bar li {
	display:inline;
}

#nav-bar li a {
    color: white;
    display: inline-block;
    padding: 14px 36px;
    text-decoration: none;
	font-size: 20px;
}

#nav-bar li a:hover:not(.active) {
    background-color: #111;
}

.active {
	background-color: #111;
}

#header {
	background-color: #333;
	border: 5px solid black;
	width: 99%;
	height: 80px;
}

#header-emblems {
	margin-left: 37%;
	margin-top: -5.4%;
}

/* Search bar */
#search-bar input[type=text] {
    width: 210px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    /* background-image: url('resources/images/search.png'); */
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#search-bar input[type=text]:focus {
    width: 98%;
}

#search-bar {
	margin-top: -3.3%;
	margin-left: 80%;
	margin-bottom: 1%;
}

/* Wrapper for main content */
#wrapper {
	margin-left: 20%;
	margin-right: 20%;
}

/* Javascript slider */
.container {
	/* float: left; */
	/* margin-left: 50%; */
    /* width:600px; */
	width: 50%;
	float: right;
    height:323px;
    /* padding:20px; */
    border-right:5px solid black;
	border-left:5px solid black;
	border-bottom:5px solid black;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background: #333;
}

.image-slider-wrapper {
    overflow: hidden;
}

#image_slider {
    position: relative;
    /* height: 280px; */
    margin-top: -.5%;
	margin-left: -9%;
}

#image_slider li {
    max-width: 100%;
    float:left;
    list-style: none;
}

/* Image-bar */
#container-image-bar-outer {
	height: 323px;
	width: 50%;
	border-left: 5px solid black;
	border-bottom: 5px solid black;
	background: #333;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
	float: left;
}

#container-image-bar-top {
	height: 232px;
	width: 100%;
	background: #222;
}

#container-image-bar-bottom {
	height: 100px;
	width: 100%;
	/* background: #111; */
}

#container-image-bar {
	width: 100%;
	padding: 4%;
}

/* 	Button, ref http://livetools.uiparade.com/button-builder.html#*/
.button {
   border: 2px solid #080808;
   background: #212121;
   background: -webkit-gradient(linear, left top, left bottom, from(#787878), to(#212121));
   background: -webkit-linear-gradient(top, #787878, #212121);
   background: -moz-linear-gradient(top, #787878, #212121);
   background: -ms-linear-gradient(top, #787878, #212121);
   background: -o-linear-gradient(top, #787878, #212121);
   background-image: -ms-linear-gradient(top, #787878 0%, #212121 100%);
   padding: 2%;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #5a707d 0 1px 0;
   color: #ffffff;
   font-size: 16px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   margin-right: 7%;
   margin-top: .5%;
   float: right;
}

.button:hover {
   border: 2px solid #000000;
   text-shadow: #505254 0 1px 0;
   background: #000000;
   background: -webkit-gradient(linear, left top, left bottom, from(#454545), to(#000000));
   background: -webkit-linear-gradient(top, #454545, #000000);
   background: -moz-linear-gradient(top, #454545, #000000);
   background: -ms-linear-gradient(top, #454545, #000000);
   background: -o-linear-gradient(top, #454545, #000000);
   background-image: -ms-linear-gradient(top, #454545 0%, #000000 100%);
   color: #f0a118;
}

.button:active {
   text-shadow: #636363 0 1px 0;
   border: 2px solid #0a3c59;
   background: #000000;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
   background: -webkit-linear-gradient(top, #000000, #000000);
   background: -moz-linear-gradient(top, #000000, #000000);
   background: -ms-linear-gradient(top, #000000, #000000);
   background: -o-linear-gradient(top, #000000, #000000);
   background-image: -ms-linear-gradient(top, #000000 0%, #000000 100%);
   color: #fff;
}

/* All the text goes in here */
.main-content {
	width: 100%;
	height: 1000px;
	background-color: #333;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
	border-right: 5px solid black;
	border-left: 5px solid black;
}

#footer {
	background-color: #333;
	border: 5px solid black;
	width: 99%;
	height: 80px;
}

/* Change regular cursor to pointer on mouse over slide */
.slide[image-link] {
	cursor: pointer;
}

.image-bar-image[image-bar-image-link] {
	cursor: pointer;
}

/* login/register/profile */
.container2 {
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto;
}

.row {
	margin-right:-15px;
	margin-left:-15px;
}

.col-md-4 {
	width:33.33333333%;
}

.col-md-offset-4 {
	margin-left:33.33333333%;
}

.form-control {
	display:block;
	width:100%;
	height:34px;
	padding:6px 12px;
	font-size:14px;
	line-height:1.42857143;
	color:#555;
	background-color:#fff;
	background-image:none;
	border:1px solid #ccc;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-group {
	margin-bottom:15px;
}

/* register/login button */
.button2 {
   border: 2px solid #080808;
   background: #212121;
   background: -webkit-gradient(linear, left top, left bottom, from(#787878), to(#212121));
   background: -webkit-linear-gradient(top, #787878, #212121);
   background: -moz-linear-gradient(top, #787878, #212121);
   background: -ms-linear-gradient(top, #787878, #212121);
   background: -o-linear-gradient(top, #787878, #212121);
   background-image: -ms-linear-gradient(top, #787878 0%, #212121 100%);
   padding: 2%;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #5a707d 0 1px 0;
   color: #ffffff;
   font-size: 16px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   width: 100%;	
   margin-left: 2%;
}

.button2:hover {
   border: 2px solid #000000;
   text-shadow: #505254 0 1px 0;
   background: #000000;
   background: -webkit-gradient(linear, left top, left bottom, from(#454545), to(#000000));
   background: -webkit-linear-gradient(top, #454545, #000000);
   background: -moz-linear-gradient(top, #454545, #000000);
   background: -ms-linear-gradient(top, #454545, #000000);
   background: -o-linear-gradient(top, #454545, #000000);
   background-image: -ms-linear-gradient(top, #454545 0%, #000000 100%);
   color: #f0a118;
}
.button2:active {
   text-shadow: #636363 0 1px 0;
   border: 2px solid #0a3c59;
   background: #000000;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
   background: -webkit-linear-gradient(top, #000000, #000000);
   background: -moz-linear-gradient(top, #000000, #000000);
   background: -ms-linear-gradient(top, #000000, #000000);
   background: -o-linear-gradient(top, #000000, #000000);
   background-image: -ms-linear-gradient(top, #000000 0%, #000000 100%);
   color: #fff;
}