/* External CSS Page for home.html */

body {
	background-image: url('resources/images/background-hexagons.jpg'); 
}

/* Nav bar */
#nav-bar ul {
	text-align: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
	border-right: 5px solid black;
	border-left: 5px solid black;
	border-bottom: 5px solid black;
	background: #000000;
	background: -webkit-gradient(linear, left top, left bottom, from(#454545), to(#000000));
	background: -webkit-linear-gradient(top, #454545, #000000);
	background: -moz-linear-gradient(top, #454545, #000000);
	background: -ms-linear-gradient(top, #454545, #000000);
	background: -o-linear-gradient(top, #454545, #000000);
	background-image: -ms-linear-gradient(top, #454545 0%, #000000 100%);
}

#nav-bar li {
	display:inline-block;
}

#nav-bar li a {
	display: inline-block;
	text-decoration: none;
	padding: 14px 66px;
	font-size: 20px;
	color: #FFFFFF;
}

#nav-bar li a:hover {
	color: #f0a118;
}

#header {
	text-align: center;
	border: 5px solid black;
	width: 99%;
	height: 80px;
	background: #000000;
	background: -webkit-gradient(linear, left top, left bottom, from(#454545), to(#000000));
	background: -webkit-linear-gradient(top, #454545, #000000);
	background: -moz-linear-gradient(top, #454545, #000000);
	background: -ms-linear-gradient(top, #454545, #000000);
	background: -o-linear-gradient(top, #454545, #000000);
	background-image: -ms-linear-gradient(top, #454545 0%, #000000 100%);
}

.center-image {
	margin-top: -15px;
}

/* Search bar */
#search-bar input[type=text] {
    width: 210px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('resources/images/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#search-bar {
	float: right;
	margin-top: -49px;
	margin-right: 5%;
}

/* Wrapper for main content */
#wrapper {
	width: 1141px;
	margin: 0 auto;
}

/* Javascript slider */
.container {
	width: 50%;
	float: right;
    height:323px;
    border-right:5px solid black;
	border-left:5px solid black;
	border-bottom:5px solid black;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background: #333;
}

.image-slider-wrapper {
    overflow: hidden;
}

#image_slider {
    position: relative;
    margin-top: -.5%;
	margin-left: -9%;
}

#image_slider li {
    max-width: 100%;
    float:left;
    list-style: none;
}

/* Image-bar */
#container-image-bar-outer {
	height: 323px;
	width: 50%;
	border-left: 5px solid black;
	border-bottom: 5px solid black;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
	float: left;
	background: #000000;
	background: -webkit-gradient(linear, left top, left bottom, from(#454545), to(#000000));
	background: -webkit-linear-gradient(top, #454545, #000000);
	background: -moz-linear-gradient(top, #454545, #000000);
	background: -ms-linear-gradient(top, #454545, #000000);
	background: -o-linear-gradient(top, #454545, #000000);
	background-image: -ms-linear-gradient(top, #454545 0%, #000000 100%);
}

#container-image-bar-top {
	height: 232px;
	width: 100%;
	background: #222;
}

#container-image-bar-bottom {
	height: 100px;
	width: 100%;
}

#container-image-bar {
	width: 100%;
	padding: 4%;
}

/* 	Button, ref http://livetools.uiparade.com/button-builder.html# */
.button {
   border: 2px solid #080808;
   background: #212121;
   background: -webkit-gradient(linear, left top, left bottom, from(#787878), to(#212121));
   background: -webkit-linear-gradient(top, #787878, #212121);
   background: -moz-linear-gradient(top, #787878, #212121);
   background: -ms-linear-gradient(top, #787878, #212121);
   background: -o-linear-gradient(top, #787878, #212121);
   background-image: -ms-linear-gradient(top, #787878 0%, #212121 100%);
   padding: 2%;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #5a707d 0 1px 0;
   color: #ffffff;
   font-size: 16px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   margin-right: 6.5%;
   margin-top: .5%;
   float: right;
}

.button:hover {
   border: 2px solid #000000;
   text-shadow: #505254 0 1px 0;
   background: #000000;
   background: -webkit-gradient(linear, left top, left bottom, from(#454545), to(#000000));
   background: -webkit-linear-gradient(top, #454545, #000000);
   background: -moz-linear-gradient(top, #454545, #000000);
   background: -ms-linear-gradient(top, #454545, #000000);
   background: -o-linear-gradient(top, #454545, #000000);
   background-image: -ms-linear-gradient(top, #454545 0%, #000000 100%);
   color: #f0a118;
}

.button:active {
   text-shadow: #636363 0 1px 0;
   border: 2px solid #0a3c59;
   background: #000000;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
   background: -webkit-linear-gradient(top, #000000, #000000);
   background: -moz-linear-gradient(top, #000000, #000000);
   background: -ms-linear-gradient(top, #000000, #000000);
   background: -o-linear-gradient(top, #000000, #000000);
   background-image: -ms-linear-gradient(top, #000000 0%, #000000 100%);
   color: #fff;
}

/* All the page content goes in here */
.main-content {
	width: 100%;
	height: 1300px;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
	border-right: 5px solid black;
	border-left: 5px solid black;
	background: #000000;
	background: -webkit-gradient(linear, left top, left bottom, from(#454545), to(#000000));
	background: -webkit-linear-gradient(top, #454545, #000000);
	background: -moz-linear-gradient(top, #454545, #000000);
	background: -ms-linear-gradient(top, #454545, #000000);
	background: -o-linear-gradient(top, #454545, #000000);
	background-image: -ms-linear-gradient(top, #454545 0%, #000000 100%);
}

#footer {
	border: 5px solid black;
	width: 99%;
	height: 89px;
	background: #000000;
	background: -webkit-gradient(linear, left top, left bottom, from(#454545), to(#000000));
	background: -webkit-linear-gradient(top, #454545, #000000);
	background: -moz-linear-gradient(top, #454545, #000000);
	background: -ms-linear-gradient(top, #454545, #000000);
	background: -o-linear-gradient(top, #454545, #000000);
	background-image: -ms-linear-gradient(top, #454545 0%, #000000 100%);
}

/* Footer styling */
.col {
  float: left;
  padding: 0 1% 0 1%;
  width: 23%;
}
 
.col:first-child {
  padding: 0 1% 0 1%;
}
 
#footer ul { 
  list-style: none; 
  margin: 0; 
  padding: 0; 
}
 
#footer li { 
  float: left; 
  height: 32px; 
  margin: 3px 0; 
  width: 100%;
  border: 2px solid #000000;
  text-shadow: #505254 0 1px 0;
  background: #000000;
  background: -webkit-gradient(linear, left top, left bottom, from(#454545), to(#000000));
  background: -webkit-linear-gradient(top, #454545, #000000);
  background: -moz-linear-gradient(top, #454545, #000000);
  background: -ms-linear-gradient(top, #454545, #000000);
  background: -o-linear-gradient(top, #454545, #000000);
  background-image: -ms-linear-gradient(top, #454545 0%, #000000 100%);
}
 
#footer li a { 
  color: #FFF;
  display: block;
  float: left; 
  font: normal 12px Verdana, Geneva, sans-serif; 
  padding: 10px 0 0 40%; 
  text-decoration: none;
  width: 60%;
}

#footer li:hover { 
   border: 4px solid #000000;
}

#footer li a:hover {
	color: #f0a118;
}

/* Change regular cursor to pointer on mouse over slide */
.slide[image-link] {
	cursor: pointer;
}

.image-bar-image[image-bar-image-link] {
	cursor: pointer;
}

/* Login/Register/Profile Templates */
.container2 {
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto;
}

.row {
	margin-right:-15px;
	margin-left:-15px;
}

.col-md-4 {
	width:33.33333333%;
}

.col-md-offset-4 {
	margin-left:33.33333333%;
}

.form-control {
	display:block;
	width:100%;
	height:34px;
	padding:6px 12px;
	font-size:14px;
	line-height:1.42857143;
	color:#555;
	background-color:#fff;
	background-image:none;
	border:1px solid #ccc;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-group {
	margin-bottom:15px;
}

/* Register/Login button */
.button2 {
   border: 2px solid #080808;
   background: #212121;
   background: -webkit-gradient(linear, left top, left bottom, from(#787878), to(#212121));
   background: -webkit-linear-gradient(top, #787878, #212121);
   background: -moz-linear-gradient(top, #787878, #212121);
   background: -ms-linear-gradient(top, #787878, #212121);
   background: -o-linear-gradient(top, #787878, #212121);
   background-image: -ms-linear-gradient(top, #787878 0%, #212121 100%);
   padding: 2%;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #5a707d 0 1px 0;
   color: #ffffff;
   font-size: 16px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   width: 100%;	
   margin-left: 2%;
}

.button2:hover {
   border: 2px solid #000000;
   text-shadow: #505254 0 1px 0;
   background: #000000;
   background: -webkit-gradient(linear, left top, left bottom, from(#454545), to(#000000));
   background: -webkit-linear-gradient(top, #454545, #000000);
   background: -moz-linear-gradient(top, #454545, #000000);
   background: -ms-linear-gradient(top, #454545, #000000);
   background: -o-linear-gradient(top, #454545, #000000);
   background-image: -ms-linear-gradient(top, #454545 0%, #000000 100%);
   color: #f0a118;
}
.button2:active {
   text-shadow: #636363 0 1px 0;
   border: 2px solid #0a3c59;
   background: #000000;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
   background: -webkit-linear-gradient(top, #000000, #000000);
   background: -moz-linear-gradient(top, #000000, #000000);
   background: -ms-linear-gradient(top, #000000, #000000);
   background: -o-linear-gradient(top, #000000, #000000);
   background-image: -ms-linear-gradient(top, #000000 0%, #000000 100%);
   color: #fff;
}

/* HomeContent D3 Graph */
.y.axisRight text {
    fill: green;
}

.y.axisLeft text {
    fill: steelblue;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar1 {
  fill: steelblue;
}

.bar2 {
  fill: green;
}

.x.axis path {
  display: none;
}

/* Main-content styling */
.title {
	text-shadow:1px 1px 1px rgba(46,39,26,1);
	font-weight:bold;
	color:#FFFFFF;
	letter-spacing:0pt;
	word-spacing:2pt;
	font-size:150%;
	text-align:center;
	font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;
	margin: 0 0 0 0;
}

.title2 {
	text-shadow:1px 1px 1px rgba(46,39,26,1);
	font-weight:bold;
	text-decoration:underline;
	color:#FFFFFF;
	letter-spacing:0pt;
	word-spacing:0pt;
	font-size:120%;
	text-align:center;
	font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;
	margin: 0 0 0 0;
}

/* Paragraphs/div etc */
.content {
	color:#FFFFFF;
	font-weight: normal;
	font-size: 100%;
	font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;
	text-align:center;
	word-spacing:2pt;
}

/* Links */
.link {
	color: #FFFFFF;
}

.link:visited {
	color: #FFFFFF;
} 

.link:hover {
	color: #f0a118;
}

/* AmChart */
#chartdiv {
  width: 100%;
  height: 200px;
}

/* Embedded video margins */
.video {
	display:block;
	margin: 0 auto;
}

/* Search button */
.searchbtn {
	padding: 12px 2px 12px 2px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 16px;
	background: -webkit-gradient(linear, left top, left bottom, from(#787878), to(#212121));
	background: -webkit-linear-gradient(top, #787878, #212121);
	background: -moz-linear-gradient(top, #787878, #212121);
	background: -ms-linear-gradient(top, #787878, #212121);
	background: -o-linear-gradient(top, #787878, #212121);
	background-image: -ms-linear-gradient(top, #787878 0%, #212121 100%);
   -webkit-border-radius: 12px;
   -moz-border-radius: 1px;
   border-radius: 1px;
   text-shadow: #5a707d 0 1px 0;
   color: #ffffff;
}

.searchbtn:hover {
   border: 2px solid #000000;
   text-shadow: #505254 0 1px 0;
   background: #000000;
   background: -webkit-gradient(linear, left top, left bottom, from(#454545), to(#000000));
   background: -webkit-linear-gradient(top, #454545, #000000);
   background: -moz-linear-gradient(top, #454545, #000000);
   background: -ms-linear-gradient(top, #454545, #000000);
   background: -o-linear-gradient(top, #454545, #000000);
   background-image: -ms-linear-gradient(top, #454545 0%, #000000 100%);
   color: #f0a118;
}