{% extends "home.html" %}
{% block body %}
<p class="title" style="text-decoration:underline"> About Me</p>
<br>
<br>
<p class="content"> My name is Ricards Graudins and I created this website as a project for Data Represenation and Querying module<br>
as part of my undergraduate course Software Developement.
<br>
<br>
I'v been playing League of Legends since season 1 and took a year off college to play league competively at the highest level and<br>
got to face some of the most talented players throughout the year. Through this experience I became motivated to create a website<br>
that would provide insight on the various play styles based on my favorite position that is top lane.
<br>
<br>
Play styles are a massive part of League of Legends and champions that can preform multiple roles/ excel at one role have<br>
a huge impact on the outcome of the game. Thus I created multiple guides for various champions which are no where near finished <br>
and will be updated as the game changes drastically every so often. At the moment the guides contain fundamental basics<br>
of playing a champion. However these basics are not to be discarded easily as mastering them will lead to better preformance<br>
and are the stepping stones of carrying out advanced mechanics and climbing the ranked ladder.
<br>
<br>
Although these guides provide a lot of insight on how to play your champion, it is important to note that your skill level<br>
won't skyrocket over 9000 from simply reading one of the guides. It is vital to understand all of the champions to be able<br>
to adjust your play style in any situation and the most important rule of all is: practise makes perfect!
<br>
<br>
If you find yourself in "Elo Hell" or struggling to improve due to a toxic team, follow these 3 simple rules:<br>
<br>
1. Don't Tilt<br>
2. Focus only on your individual preformance<br>
3. Learn from your mistakes<br>
<br>
If you wish to submit a guide or provide insight on a champion you can contact me at zionmlg@gmail.com or send me<br>
a private message in game on the EUW server.
<br>
<br>
</p>
<p class="title" style="text-decoration:underline"> Good luck and have fun! </p>
{% endblock %}